.link span {
    /* display: flex; */
    /* float: left; */
    padding: 1rem 1rem;
    /* -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px); */
    /* background-color: var(--nav);  */
    border-radius: 1.05rem;
    font-size: 0.875rem;
    color: var(--title);
    /* font-weight: 600; */
    /* position: fixed; */
    text-align: center;
    /* top: 20; */
    /* margin-top: 0.5rem; */
    /* padding-right: 1rem; */
}

@media (max-width: 768px) {
  .gen, .error {
      margin: 0 auto;
      display: flex;
      position: relative;
  }
  } 

  @media (max-width: 768px) {
    .wrapper, .error,.code,.gen,.input {
      /* height: 100%; */
      /* width: 100%; */
      padding: 4rem 4rem;
      margin: 0 auto;
    }
    } 

  @media (max-width: 768px) {
    .error {
        margin: 0 auto;
        /* display: flex; */
        margin-bottom: 1rem;
        position: relative;
    }
    }
    
    .error span {
      padding-left: 0.2rem;
    }

    .dm {
      /* background: -webkit-linear-gradient(#a1a1a1, #ffffff); */
      background: -webkit-linear-gradient(#8eb4fcb9, #f9c3fce1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* float: left; */
      font-size: 1rem;
    }

.input {
    /* display: flex; */
    /* float: left; */
    border: none;
    padding: 1rem 1rem;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: #f0edff03; 
    border: 1px solid #ffffff1a;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: var(--title);
    /* font-weight: 600; */
    /* position: fixed; */
    text-align: center;
    /* top: 20; */
    /* margin-top: 0.5rem; */
    /* padding-right: 1rem; */
}

.input:hover {
    background-color: #f0edff0c; 
}

.gen:hover {
  background-color: #132511;
  color: #4ce556;
}

.download {
    position: absolute;
    font-size: 3rem;
}

.wrapper {
  padding: 5rem 5rem;
  /* padding: 2.5rem 2rem; */
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-color: #71717a18; 
    border-color: #ffffff2c;
    border-radius: 0.5rem;
    border: 1px solid #ffffff1a;
}

.code {
    border-radius: 0.5rem;
    display: flex;
    /* width: 100px; */
    /* height: 100px; */
    /* filter: contrast(100); */
    text-align: center;
    margin: 0 auto;
    /* background: #dfc3fc; */
    /* padding: 0.65rem; */
}

/* .code {
  border-radius: 0.5rem;
  display: flex;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background: #dfc3fc;
  padding: 0.65rem;
} */

.code:hover {
      -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

.img_placement {
  /* position: absolute; */
  display: flex;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 1rem;
  /* margin-bottom: 1rem; */
}

.title {
  background: -webkit-linear-gradient(#8EC5FC, #E0C3FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  word-break: break-all;
    padding: 0.35rem 0.55rem;
    border-radius: 0.5rem;
    background-color: #251111;
    color: #e54c4c;
    width: fit-content;
}

.gen {
        /* display: flex; */
    /* float: left; */
    padding: 1rem 1rem;
    /* margin-left: 1rem; */
    /* -webkit-backdrop-filter: blur(16px); */
    /* backdrop-filter: blur(16px); */
    background-color: #132511;
    color: #4ce556;
    border-radius: 0.5rem;
    border: 1px solid #ffffff1a;
    font-size: 0.875rem;
    /* color: var(--title); */
    /* font-weight: 600; */
    border: none;
    /* position: fixed; */
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    margin-left: 2.65rem;
    z-index: 999;
    /* top: 20; */
    /* margin-top: 0.5rem; */
    /* padding-right: 1rem; */
}

/* Add the shake animation */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .shake {
    /* Add the shake animation to the button */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }